In [1]:
i = 1  

while i <= 10: 
    print(i)  
    i += 1

1
2
3
4
5
6
7
8
9
10

In [2]:
i = 1  

while i <= 10: 
    print(i)  
    i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
i = 1  

while i <= 10: 
    print(i)  
    i += 1

1
2
3
4
5
6
7
8
9
10

In [4]:
try:
    num = int(input("Enter a number to generate its multiplication table: "))
except ValueError:
    print("Invalid input. Please enter an integer.")
    exit()
print(f"\nMultiplication Table for {num}:")
for i in range(1, 11):  
    product = num * i
    print(f"{num} x {i} = {product}")

Enter a number to generate its multiplication table:  5

Multiplication Table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [5]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [8]:
fruits = ["apples", "bananas", "blueberries", "cherries", "cantaloupes","dates", "figs", "grapes","kiwis", "mangos"]
for fruit in fruits:
    print(fruit)

apples
bananas
blueberries
cherries
cantaloupes
dates
figs
grapes
kiwis
mangos

In [9]:
even_numbers_tuple = (2, 4, 6, 8, 10)
print(even_numbers_tuple[2])

6

In [10]:
my_list = [1, 2, 2, 3, 4, 4, 5, 1, 6]
unique_items_set = set(my_list)
print(unique_items_set)

{1, 2, 3, 4, 5, 6}

In [11]:
string = "pythonprogramming"
first_six = string[:6]
print(f"First 6 characters: {first_six}")
last_six = string[6:]
print(f"Last 6 characters: {last_six}")
every_second = string[::2]
print(f"Every second character: {every_second}")
reversed_string = string[::-1]
print(f"Reversed string: {reversed_string}")

First 6 characters: python
Last 6 characters: programming
Every second character: ptopormig
Reversed string: gnimmargorpnohtyp

In [12]:
squares = [x**2 for x in range(1, 11)]

In [13]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
even_numbers = [x for x in range(1, 51) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [16]:
def filter_long_words(words):
    long_words = []
    for word in words:
        if len(word) > 5:
            long_words.append(word)
    return long_words
    if len(word) >= 5:
       long_words = [word for word in words if len(word) >= 5]

In [17]:
import math

def is_prime(n):
    """
    Checks if a given number is prime.

    Args:
        n: An integer.

    Returns:
        True if n is a prime number, False otherwise.
    """
    if n <= 1:
        return False  
    if n == 2:
        return True  
    if n % 2 == 0:
        return False  
    for i in range(3, int(math.sqrt(n)) + 1, 2):
        if n % i == 0:
            return False  
    return True  
print(is_prime(7))   # Output: True
print(is_prime(10))  # Output: False
print(is_prime(2))   # Output: True
print(is_prime(1))   # Output: False
print(is_prime(0))   # Output: False
print(is_prime(29))  # Output: True

True
False
True
False
False
True

In [18]:
def factorial(n):
    """
    Calculates the factorial of a non-negative integer using recursion.

    Args:
        n: A non-negative integer.

    Returns:
        The factorial of n.
    """
    if n == 0 or n == 1: 
        return 1
    elif n < 0:
        raise ValueError("Factorial is not defined for negative numbers.")
    else:  
        return n * factorial(n - 1)
try:
    number = int(input("Enter a non-negative integer: "))
    result = factorial(number)
    print(f"The factorial of {number} is {result}")
except ValueError as e:
    print(f"Error: {e}")

Enter a non-negative integer:  6

The factorial of 6 is 720

In [19]:
def sum_of_list(numbers):
  """
  Calculates the sum of all elements in a list.

  Args:
    numbers: A list of numbers (integers or floats).

  Returns:
    The sum of all elements in the list.
  """
  total = 0
  for number in numbers:
    total += number
  return total

In [20]:
def calculate_list_sum(numbers_list):
  """
  Calculates the sum of all numeric elements in a list.

  Args:
    numbers_list: A list containing numbers (integers or floats).

  Returns:
    The sum of the elements in the list. Returns 0 if the list is empty.
  """
  total = 0
  for number in numbers_list:
    total += number
  return total

# Example usage:
my_list = [1, 2, 3, 4, 5]
list_sum = calculate_list_sum(my_list)
print(f"The sum of the list {my_list} is: {list_sum}") 

empty_list = []
empty_list_sum = calculate_list_sum(empty_list)
print(f"The sum of the empty list {empty_list} is: {empty_list_sum}")

The sum of the list [1, 2, 3, 4, 5] is: 15
The sum of the empty list [] is: 0

In [21]:
class Student:
    def __init__(self, name, grade):
        """
        Initializes a new Student object.

        Args:
            name (str): The name of the student.
            grade (str or int): The grade of the student (e.g., 'A', 'B', or a numerical grade).
        """
        self.name = name
        self.grade = grade

    def display_info(self):
        """
        Prints the name and grade of the student.
        """
        print(f"Student Name: {self.name}, Grade: {self.grade}")

# Example usage:
student1 = Student("Alice", "A")
student2 = Student("Bob", 90)

student1.display_info()
student2.display_info()

Student Name: Alice, Grade: A
Student Name: Bob, Grade: 90

In [22]:
class Student:
    def __init__(self, name, grade):
        self._name = name  
        self._grade = grade
    def get_name(self):
        """Getter for name."""
        return self._name

    def set_name(self, new_name):
        """Setter for name with optional validation."""
        if isinstance(new_name, str) and len(new_name) > 0:
            self._name = new_name
        else:
            print("Invalid name. Name must be a non-empty string.")
    def get_grade(self):
        """Getter for grade."""
        return self._grade

    def set_grade(self, new_grade):
        """Setter for grade with optional validation."""
        if isinstance(new_grade, (int, float)) and 0 <= new_grade <= 100:
            self._grade = new_grade
        else:
            print("Invalid grade. Grade must be a number between 0 and 100.")
student1 = Student("Alice", 85)
print(f"Initial name: {student1.get_name()}, Initial grade: {student1.get_grade()}")
student1.set_name("Bob")
student1.set_grade(92)
print(f"Updated name: {student1.get_name()}, Updated grade: {student1.get_grade()}")

student1.set_name("") 
student1.set_grade(105)

Initial name: Alice, Initial grade: 85
Updated name: Bob, Updated grade: 92
Invalid name. Name must be a non-empty string.
Invalid grade. Grade must be a number between 0 and 100.

In [23]:
class Student:
    def __init__(self, name, age, student_id):
        self._name = name  
        self._age = age
        self._student_id = student_id
    def get_name(self):
        return self._name
    def get_age(self):
        return self._age
    def get_student_id(self):
        return self._student_id
student1 = Student("Alice", 18, "S101")
student2 = Student("Bob", 19, "S102")
print(f"Student 1 Details:")
print(f"Name: {student1.get_name()}")
print(f"Age: {student1.get_age()}")
print(f"Student ID: {student1.get_student_id()}")
print(f"\nStudent 2 Details:")
print(f"Name: {student2.get_name()}")
print(f"Age: {student2.get_age()}")
print(f"Student ID: {student2.get_student_id()}")

Student 1 Details:
Name: Alice
Age: 18
Student ID: S101

Student 2 Details:
Name: Bob
Age: 19
Student ID: S102